.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding-left: 75px;
    padding-top: 75px;
    padding-bottom: 30px;
  }

  .example-full-width {
    width: 100% !important;
  }
  .lin{
    padding-top: 70px;
    padding-bottom: 275px;
  }
  